<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:launchMode="singleTask"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity used by EMMA as entry point to handle deeplinks and urls-->
        <activity
            android:name="io.emma.android.activities.EMMADeepLinkActivity"
            android:noHistory="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="emmarn"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="examplereactnative.powlink.io"
                    android:scheme="https"/>

                <data
                    android:host="shorterc.pwlnk.io"
                    android:scheme="https"/>

            </intent-filter>
        </activity>

        <!-- Service used by EMMA for managing push notification-->
        <service
            android:name="io.emma.android.push.EMMAFcmMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Activity to send intent with deeplink url. In RN must always be MainActivity -->
        <meta-data
            android:name="io.emma.DEEPLINK_OPEN_ACTIVITY"
            android:value="com.emmareactnativeexample.MainActivity"/>

    </application>
</manifest>
